* {
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root {
  --panel-bg-color: #282c34;
  --panel-devider: #d7dae01a;
  --panel-icon-color: #696c74;
  --panel-icon-active-color: #d7dae0;

  --panel-icon-action-color: #696c74;
  --panel-icon-action-active-color: #d7dae0;

  --wrapper-margin-main: 5px;
  --wrapper-margin-second: 0;

  --tools-wrapper-width: 325px;
  --tools-wrapper-height: 65px;
  --tools-wrapper-vertical-margin: calc(-1 * (var(--tools-wrapper-height) + var(--wrapper-margin-main)));
  --tools-wrapper-horisontal-margin: var(--wrapper-margin-second);
}

.img-screenshot {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  -webkit-user-drag: none;
  cursor: crosshair;
}

.img-screenshot.area-selected {
  cursor: default;
}