.resize-box {
  --indent: -5px;
  background: #ccc;

  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 1px;

  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  z-index: 9998;

}

.no-resize .resize-box {
  display: none !important;
}

.resize-box__top-left {
  top: calc(var(--indent) - 1px);
  left: calc(var(--indent) - 1px);
  bottom: auto;
  right: auto;
  cursor: nwse-resize;
}

.resize-box__top-middle {
  top: calc(var(--indent) - 1px);
  left: calc(50% + var(--indent));
  bottom: auto;
  right: auto;
  cursor: ns-resize;
}

.resize-box__top-right {
  top: calc(var(--indent) - 1px);
  left: auto;
  bottom: auto;
  right: calc(var(--indent) - 1px);
  cursor: nesw-resize;
}

.resize-box__middle-right {
  top: calc(50% + var(--indent));
  left: auto;
  bottom: auto;
  right: calc(var(--indent) - 1px);
  cursor: ew-resize;
}

.resize-box__bottom-right {
  top: auto;
  left: auto;
  bottom: calc(var(--indent) - 1px);
  right: calc(var(--indent) - 1px);
  cursor: nwse-resize;
}

.resize-box__bottom-middle {
  top: auto;
  left: calc(50% + var(--indent) + 1px);
  bottom: calc(var(--indent) - 1px);
  right: auto;
  cursor: ns-resize;
}

.resize-box__bottom-left {
  top: auto;
  left: calc(var(--indent) - 1px);
  bottom: calc(var(--indent) - 1px);
  right: auto;
  cursor: nesw-resize;
}

.resize-box__middle-left {
  top: calc(50% + var(--indent));
  left: calc(var(--indent) - 1px);
  bottom: auto;
  right: auto;
  cursor: ew-resize;
}