[class^="size-icon-"],
[class*="size-icon-"] {
  display: block;
  background-color: currentColor;
  border-radius: 50%;
}

.size-icon-1 {
  width: .2em;
  height: .2em;
}

.size-icon-2 {
  width: .35em;
  height: .35em;
}

.size-icon-3 {
  width: .5em;
  height: .5em;
}

.size-icon-4 {
  width: .65em;
  height: .65em;
}

.size-icon-5 {
  width: .8em;
  height: .8em;
}

.size-icon-6 {
  width: 1em;
  height: 1em;
}

.size-icon-7 {
  width: 1.1em;
  height: 1.1em;
}